.header{
    display: block;
    width: 100%;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        font-size: 12px;
        font-weight: 300;
        color: #595959;
        line-height: 130%;
    }
    &__desc{
        display: block;
        width: 262px;
        
    }
    a {
        text-decoration: none;
        color: #595959;
    }
    &__promo{
        display: flex;
        align-items: center;
        gap: 6px;
        img{
            display: block;
            width: 14px;
            height: 14px;
            margin-bottom:2px;
        }
        &__text{
            display: block;
            width: 104px;

        }
    }
    &__btns{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__call{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 32px;
        box-sizing: border-box;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid transparent;
        transition: all 0.3s ease;
        color: #dc282c;
        font-size: 10px;
        text-transform: uppercase;
        background-color: #fdeeee;
        &:hover{
            transition: all 0.3s ease;
            border-color: #dc282c;
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        gap:34px;
        margin-top: 20px;
        width: 75%;
        &__link{
            color:#1c2231 !important;
            font-weight: 500;
            font-size: 18px;
        }
    }
    &__phone{
        color:#1c2231 !important;
        font-size: 22px;
        margin-top: 20px;
        font-weight: 500;
    }
}
.logo{
    display: block;
    width: 194px;
    & img{
        display: block;
        width: 100%;
    }
}